@using CourseProject.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@model IEnumerable<CourseProject.Models.Template>

@inject UserManager<ApplicationUser> UserManager

@{
    TempData["Route"] = "Index";
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Create">
    <input type="submit" value="+" class="btn btn-primary" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate) UTC
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessType)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>